{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
<div class="search-wrapper">
  <!-- Search Icon for Mobile -->
  <button
    class="search-toggle-button"
    aria-label="{{ 'general.search.search' | t }}"
    onclick="document.querySelector('.search-wrapper .search-modal__form').classList.toggle('visible');"
  >
    <span class="svg-wrapper">
      {{ 'icon-search.svg' | inline_asset_content }}
    </span>
  </button>
  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
    <div class="field">
      <input
        class="search__input field__input"
        id="{{ input_id }}"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.search' | t }}"
        {%- if settings.predictive_search_enabled -%}
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        {%- endif -%}
      >
      <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
      <input type="hidden" name="options[prefix]" value="last">
      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
        <span class="svg-wrapper">
          {{- 'icon-search.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </form>
</div>

<style>
.search-wrapper .search-modal__form {
  display: block;
}

.search-toggle-button {
  display: none;
}

/* Show search icon only on mobile */
.search-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 991px) {
  .search-wrapper .search-modal__form {
    display: none;
    position: absolute;
    top: 60px; /* adjust if needed */
    left: 0;
    width: 100%;
    padding: 1rem;
    background: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .search-wrapper .search-modal__form.visible {
    display: block;
    width: 100%;
    top: 100px;
  }

  .search-toggle-button {
    display: inline-block;
  }
  .search-wrapper {
    margin-left: auto;
    height: 44px;
    line-height: 50px;
    margin-right: 20px;
  }
}
</style>

<script>
  document.addEventListener('click', function (e) {
    const form = document.querySelector('.search-modal__form');
    const button = document.querySelector('.search-toggle-button');

    if (!form.contains(e.target) && !button.contains(e.target)) {
      form.classList.remove('visible');
    }
  });
</script>