{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact contactus-section page-width section-{{ section.id }}-padding">
    <div class="contact-detail">
        <p>Take the Next Step: Contact Roof Tech Today!</p>
        <p>We invite you to contact Roof Tech Inc to schedule a demonstration of our unique products, and to discuss how we can work together to bring greater value to your customers through innovative PV mounting solutions.</p>
        <address>
          U.S. Headquarters
          Roof Tech, Inc
          10620 Treena St.
          Suite 230 San Diego, CA 92131
        </address>
        <ul class="address-detail">
          <li><a href="tel:8589356064">(858) 935-6064</a></li>
          <li><a href="mailto:sales@roof-tech.us">sales@roof-tech.us</a></li>
          <li><a href="mailto:info@roof-tech.us">info@roof-tech.us</a></li>
          <li><p>Monday – Friday 8:00am to 5:00pm</p></li>
        </ul>
        <div>
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/RoofTechIncUS" target="_blank" class="social-icon-item">
                  <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.06424 12.8351C6.06424 13.9015 6.06533 14.9675 6.06424 16.0339C6.06369 16.4883 5.96913 16.5812 5.51436 16.5823C4.68845 16.5839 3.86199 16.5834 3.03608 16.5823C2.62996 16.5818 2.52501 16.4786 2.52446 16.081C2.52392 13.9145 2.52173 11.7486 2.52829 9.58216C2.52829 9.40927 2.49495 9.35471 2.30856 9.35903C1.70785 9.37253 1.10714 9.36551 0.506423 9.36335C0.105767 9.36173 0.00409949 9.26664 0.00245969 8.87712C-0.000819898 8.07429 -0.000819898 7.27092 0.00245969 6.46809C0.00409949 6.07749 0.107407 5.98132 0.504784 5.98078C1.11916 5.9797 1.73354 5.97592 2.34791 5.98402C2.49167 5.98618 2.52884 5.94782 2.5272 5.80627C2.52009 5.18551 2.51517 4.56421 2.52884 3.944C2.5507 2.98395 2.79776 2.09306 3.42635 1.33562C4.05221 0.581953 4.88249 0.188643 5.84013 0.0665445C6.79067 -0.0544739 7.7494 0.0281859 8.70431 0.020082C8.91803 0.017921 9.03828 0.136778 9.03992 0.349641C9.04702 1.1865 9.04757 2.02337 9.03992 2.85969C9.03773 3.09038 8.9142 3.19303 8.64582 3.20006C8.07244 3.2141 7.49906 3.2168 6.92568 3.22221C6.77427 3.22383 6.62614 3.24382 6.48621 3.30217C6.26702 3.39347 6.12819 3.56365 6.09977 3.78894C6.0134 4.47453 6.0697 5.1639 6.06424 5.85166C6.06314 5.98024 6.16536 5.93594 6.22876 5.93648C6.95246 5.93918 7.67615 5.93756 8.39985 5.93864C8.86719 5.93864 8.9623 6.03372 8.9623 6.49673C8.9623 7.27957 8.96285 8.0624 8.9623 8.84524C8.9623 9.2553 8.87703 9.33958 8.4556 9.34066C7.7248 9.34282 6.99455 9.34606 6.26429 9.33742C6.10468 9.3358 6.05986 9.3747 6.06096 9.53623C6.06861 10.6362 6.06478 11.7362 6.06478 12.8361L6.06424 12.8351Z" fill="black"></path>
                  </svg>
                </a>
            </li>
            <li>
              <a href="https://twitter.com/RoofTech1" target="_blank" class="social-icon-item">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.9356 18.0872C15.5721 14.6869 13.2084 11.2868 10.8402 7.88967C10.7557 7.76826 10.7487 7.69704 10.8508 7.58019C12.6687 5.50134 14.4814 3.41812 16.295 1.33589C16.6735 0.901428 17.0513 0.466771 17.4524 0.00553012C16.9893 0.00553012 16.559 0.0166396 16.13 0.000570539C15.9299 -0.00696802 15.805 0.0600855 15.6765 0.208476C13.8367 2.33117 11.9887 4.44693 10.149 6.56983C10.0299 6.70711 9.9948 6.67378 9.90868 6.54959C8.42386 4.40805 6.93403 2.26987 5.44921 0.128329C5.38276 0.0325102 5.3153 0.00255437 5.20187 0.00295114C3.51971 0.00652203 1.83755 0.00513335 0.155388 0.00672041C0.106603 0.00672041 0.0501898 -0.0178791 0.00301139 0.0311215C0.0403526 0.0868672 0.0756863 0.141026 0.112626 0.194192C2.38542 3.46196 4.65762 6.72992 6.93423 9.99511C7.01212 10.107 7.01654 10.1683 6.92379 10.2744C5.03966 12.4301 3.15975 14.5891 1.28044 16.7487C0.850617 17.2426 0.426614 17.7418 0 18.2385H1.586C1.63478 18.205 1.68939 18.1814 1.72934 18.1336C2.09954 17.69 2.49002 17.2635 2.86644 16.8252C3.49522 16.093 4.13484 15.3703 4.76643 14.6406C5.32012 14.0011 5.87843 13.3654 6.43153 12.7253C6.821 12.2745 7.2171 11.8294 7.60517 11.3774C7.72161 11.2419 7.7457 11.2463 7.84266 11.3848C8.59712 12.463 9.34936 13.5426 10.0988 14.6242C10.8651 15.7302 11.6376 16.8322 12.4025 17.9392C12.476 18.0453 12.5364 18.1657 12.6525 18.2385H18.0236C18.0169 18.1752 17.9686 18.135 17.9356 18.0874V18.0872ZM15.6986 17.104C14.9839 17.1058 14.269 17.1026 13.5543 17.1081C13.4434 17.1089 13.3836 17.0685 13.323 16.983C9.63725 11.7702 5.9495 6.55911 2.26216 1.34779C2.23144 1.30454 2.20193 1.2603 2.15174 1.1871C2.95719 1.1871 3.73031 1.18948 4.50343 1.18452C4.61425 1.18373 4.64397 1.25852 4.68974 1.32339C5.93465 3.08086 7.17895 4.83893 8.42306 6.59701C10.8735 10.0598 13.3238 13.5228 15.7739 16.9857C15.7937 17.0139 15.813 17.0429 15.8317 17.0704C15.7937 17.1292 15.7407 17.1042 15.6982 17.1042L15.6986 17.104Z" fill="black"></path>
                  </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/roof_tech_us/" target="_blank" class="social-icon-item">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.5736 14.8295C12.9237 14.8295 14.8288 12.9244 14.8288 10.5743C14.8288 8.22421 12.9237 6.31909 10.5736 6.31909C8.22348 6.31909 6.31836 8.22421 6.31836 10.5743C6.31836 12.9244 8.22348 14.8295 10.5736 14.8295Z" stroke="black" stroke-width="1.5957" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M1 14.8294V6.31901C1 3.3814 3.3814 1 6.31901 1H14.8294C17.767 1 20.1484 3.3814 20.1484 6.31901V14.8294C20.1484 17.767 17.767 20.1484 14.8294 20.1484H6.31901C3.3814 20.1484 1 17.767 1 14.8294Z" stroke="black" stroke-width="1.5957"></path>
                  <path d="M16.4258 4.73339L16.4358 4.72228" stroke="black" stroke-width="1.5957" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </a>
            </li>
        
            <li>
              <a href="https://www.linkedin.com/company/roof-tech-inc-/" target="_blank" class="social-icon-item">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.94139 7.59795C10.3134 7.04079 10.764 6.59612 11.3281 6.26334C12.231 5.73137 13.2129 5.6306 14.2311 5.72668C14.9453 5.79406 15.6279 5.96689 16.2331 6.36997C17.082 6.93534 17.5021 7.77665 17.7358 8.73455C17.9502 9.61511 17.9913 10.5144 17.9936 11.4149C17.9989 13.5305 17.9924 15.6461 18 17.7622C18.0006 17.9468 17.9379 17.972 17.7774 17.9714C16.6719 17.9655 15.5669 17.9644 14.4614 17.9726C14.2985 17.9737 14.2569 17.9357 14.2575 17.7704C14.2628 15.7644 14.2616 13.7584 14.2575 11.753C14.2563 11.3288 14.2276 10.9052 14.1433 10.4869C13.8919 9.24308 13.0893 8.84528 11.9691 8.9771C10.9192 9.10071 10.3515 9.72232 10.1816 10.8531C10.1195 11.2667 10.0961 11.6821 10.0966 12.0998C10.0984 13.9957 10.0949 15.8921 10.1013 17.788C10.1019 17.9608 10.0574 18.0036 9.88573 18.0024C8.78781 17.9942 7.68989 17.9942 6.59197 18.0024C6.41738 18.0036 6.35938 17.972 6.35938 17.781C6.36582 13.923 6.36523 10.0651 6.35996 6.2071C6.35996 6.02665 6.40214 5.97626 6.58669 5.97802C7.64068 5.9874 8.69466 5.98564 9.74864 5.97919C9.90155 5.97802 9.94842 6.01903 9.94491 6.1737C9.93495 6.64826 9.94139 7.1234 9.94139 7.59795Z" fill="black"></path>
                  <path d="M0.296308 11.9871C0.296308 10.0631 0.299823 8.13911 0.291035 6.21511C0.289863 6.01768 0.34142 5.97608 0.531828 5.97784C1.62916 5.9878 2.7265 5.98545 3.82384 5.97901C3.98085 5.97784 4.03417 6.00772 4.03417 6.17996C4.02889 10.0573 4.02889 13.9351 4.03417 17.8124C4.03417 17.9712 3.98612 18.0028 3.83731 18.0023C2.72533 17.9958 1.61335 17.9935 0.501363 18.004C0.315642 18.0058 0.293379 17.9396 0.293964 17.7814C0.298651 15.8498 0.296894 13.9187 0.296894 11.9871H0.296308Z" fill="black"></path>
                  <path d="M4.31787 2.15375C4.32549 3.34482 3.35587 4.33553 2.17593 4.34198C0.98895 4.34842 0 3.3583 0 2.16195C0 0.984935 0.966688 0.010631 2.14605 8.53673e-05C3.33419 -0.0104603 4.31025 0.957399 4.31787 2.15375Z" fill="black"></path>
                </svg>
              </a>
            </li>
            
            <li>
              <a href="https://www.youtube.com/channel/UCo8Dapu_41dJ9fVyz81sEqA" target="_blank" class="social-icon-item">
                  <svg class="icon icon-youtube" width="22" height="22"  viewBox="0 0 22 22"><path fill="black" d="M18.16 5.87c.34 1.309.34 4.08.34 4.08s0 2.771-.34 4.08a2.13 2.13 0 0 1-1.53 1.53c-1.309.34-6.63.34-6.63.34s-5.321 0-6.63-.34a2.13 2.13 0 0 1-1.53-1.53c-.34-1.309-.34-4.08-.34-4.08s0-2.771.34-4.08a2.17 2.17 0 0 1 1.53-1.53C4.679 4 10 4 10 4s5.321 0 6.63.34a2.17 2.17 0 0 1 1.53 1.53M8.3 12.5l4.42-2.55L8.3 7.4z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
    </div>
   <div>
     {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {{- 'icon-success.svg' | inline_asset_content -}}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {{- 'icon-error.svg' | inline_asset_content -}}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <input
          type="tel"
          id="ContactForm-phone"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          {{- 'templates.contact.form.comment' | t -}}
        </label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
   </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
