<section class="logo-carousel-section">
    {% if section.settings.title != blank %}
    <div class="logo-carousel-heading">
      <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
    </div>
    {% endif %}
  <div class="owl-carousel owl-carousel-row owl-carousel-top">
    {% for block in section.blocks %}
        {% assign image = block.settings.logo %}
        {% assign link = block.settings.link %}

        <div class="logo-item">
        {% if image %}
            {% if link != blank %}
            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                <img
                src="{{ image | image_url: width: 200 }}"
                alt="{{ image.alt | escape }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
                >
            </a>
            {% else %}
            <img
                src="{{ image | image_url: width: 200 }}"
                alt="{{ image.alt | escape }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
            >
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
  </div>

  <div class="owl-carousel owl-carousel-row owl-carousel-bottom">
    {% for block in section.blocks %}
        {% assign image = block.settings.logo %}
        {% assign link = block.settings.link %}

        <div class="logo-item">
        {% if image %}
            {% if link != blank %}
            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                <img
                src="{{ image | image_url: width: 200 }}"
                alt="{{ image.alt | escape }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
                >
            </a>
            {% else %}
            <img
                src="{{ image | image_url: width: 200 }}"
                alt="{{ image.alt | escape }}"
                width="{{ image.width }}"
                height="{{ image.height }}"
                loading="lazy"
            >
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
  </div>
</section>

<style>
.logo-carousel-section {
  padding: 2rem 0;
}
.logo-carousel-heading {
  text-align: center;
  margin-bottom: 4.5rem;
}
.logo-item {
  text-align: center;
  padding: 10px;
}
.logo-item img {
  max-height: 60px;
  margin: 0 auto;
}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.logo-item {
    border: 1px solid #EAEAEA;
    width: 200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}
.logo-item img {
    max-height: 78px;
    object-fit: contain;
}
@media screen and (min-width: 1600px){
  .logo-item {
    width: 250px;
    height: 110px;
}
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $('.owl-carousel-top').owlCarousel({
      loop: true,
      margin: 20,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      autoplaySpeed: 5000,
      smartSpeed: 5000,
      slideTransition: 'linear',
      rtl: false,
      responsive: {
        0: { items: 2 },
        600: { items: 4 },
        1000: { items: 5 },
        1300: { items: 6 },
        1600: { items: 7 }
      }
    });

    $('.owl-carousel-bottom').owlCarousel({
      loop: true,
      margin: 20,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,
      autoplaySpeed: 5000,
      smartSpeed: 5000,
      slideTransition: 'linear',
      rtl: true, /* Reverse direction */
      responsive: {
        0: { items: 2 },
        600: { items: 4 },
        1000: { items: 5 },
        1300: { items: 6 },
        1600: { items: 7 }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Logo Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Our Distributors"
    }
  ],
  "max_blocks": 20,
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo Image"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Logo Link (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel"
    }
  ]
}
{% endschema %}
